---
import SocialLink from "./SocialLink.astro";

const today = new Date();
---

<footer
  class="bg-linear-to-b from-slate-100 to-white px-4 pb-24 pt-8 text-center text-muted dark:from-slate-800 dark:to-slate-900"
>
  &copy; {today.getFullYear()} Your name here. All rights reserved.
  <div class="mt-4 flex justify-center gap-4">
    <SocialLink
      href="https://m.webtoo.ls/@astro"
      label="Follow Astro on Mastodon"
      icon="mastodon"
      variant="footer"
    />
    <SocialLink
      href="https://twitter.com/astrodotbuild"
      label="Follow Astro on Twitter"
      icon="twitter"
      variant="footer"
    />
    <SocialLink
      href="https://github.com/withastro/astro"
      label="Go to Astro's GitHub repo"
      icon="github"
      variant="footer"
    />
  </div>
</footer>
